[submodule "report"]
	path = report
	url = https://github.com/askebm/20-AI-EV3-mindstorm-report.git
	branch = master
[submodule "python-sokoban"]
	path = python-sokoban
	url = https://github.com/bravegnu/python-sokoban
